.portfolio_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.portfolio_navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.portfolio_navbar-links_logo{
    margin-right: 2rem;
}

.portfolio_navbar-links_logo img{
    width: 62px;
    height: 62px;
}

.portfolio_navbar-links_containers {
    display: flex;
    flex-direction: row;
}

.portfolio_navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.portfolio_navbar-links_containers p,
.portfolio_navbar-sign p,
.portfolio_navbar-menu_containers p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.portfolio_navbar-sign button,
.portfolio_navbar-menu_container button {
    padding: 0.5rem 1rem;
    background: #5dd9c1;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    left: 1154px;
    top: 55px;
    border-radius: 5px;
    border: 0;
    online: none;
    cursor: pointer;
}

.portfolio_navbar-menu{
    margin-left: 1rem;

    display: none;
    position: relative;
}


.portfolio_navbar-menu svg {
    cursor: pointer;
}

.portfolio_navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background-color: var(color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.portfolio_navbar-menu_container p{
    margin: 1rem 0;
}

.portfolio_navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .portfolio_navbar-links_containers {
        display: none;
    }

    .portfolio_navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .portfolio_navbar {
        padding: 2rem 4rem;
    }

}

@media screen and (max-width: 550px) {
    .portfolio_navbar {
        padding: 2rem;
    }

    .portfolio_navbar-sign {
        display: none;
    }
    .portfolio_navbar-menu_container {
        top: 20px;
    }

    .portfolio_navbar-menu_container-links-sign {
        display: block;
    }
}